<form (ngSubmit)="onSubmit()"> 
    <div class="mb-3" >
      <label for="exampleInputEmail1" class="form-label">Todo Title</label>
      <input type="email" class="form-control" 
      id="exampleInputEmail1" 
      aria-describedby="emailHelp"
      [(ngModel)]="title"
      name="title">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input type="text" class="form-control" id="desc"
      [(ngModel)]="desc"
      name="desc">
    </div>
    <div class="mb-3 form-check">
      
      
    </div>
    <button type="submit" class="btn btn-primary">Add to todo</button>
  </form>
